.App {
  border: 1px solid orange;
  width: 250px;
}

.App_wrapper_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.wrapper_button {
  width: 100%;
}

.wrapper_button_non_line_through {
  width: 100%;
}

.wrapper_button button {
  width: 100%;
  text-decoration: line-through;
}

.wrapper_button_non_line_through button {
  width: 100%;
}

.checkbox_and_button {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 5px;
}
.checkbox_and_button:nth-last-child(1) {
  margin-bottom: 5px;
}
.App_wrapper {
  height: 465px;
  min-width: 900px;
}
.wrapper_Item_menu {
  border-top: 1px solid orange;
  border-right: 1px solid orange;
  border-bottom: 1px solid orange;
}
.app_and_item_menu {
  display: flex;
}

.TextField {
  width: 100%;
}
.button_add_task Button,
.button_add_task Button:hover {
  background-color: coral;
}

.button_add_task_none_style {
}

.wrapper_button_sort button,
.wrapper_button_sort button:hover {
  background-color: white;
}

.button_add_and_sort {
  width: 100%;
}

.TextField_and_button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TextField_and_button button {
  width: 20%;
}

.app_item_menu {
  display: flex;
  flex-direction: row;
}
