.App {
  border: 1px solid orange;

}
.App_wrapper_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.button {
  width: 100%;
  text-decoration: line-through;
}

.checkbox_and_button{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 5px;
}
.checkbox_and_button:nth-last-child(1){
  margin-bottom: 5px;

}
.App_wrapper{
text-align: center;
}
.wrapper_Item_menu{
  border-top: 1px solid orange;
  border-right: 1px solid orange;
  border-bottom: 1px solid orange;
  display: flex;
}
.app_and_item_menu{
  display: flex;
  width: 460px;
}
